html
  head
    title='Pluralsight Rocks'
    link(rel='stylesheet', href='http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Hello Mr Barram and any followers!!!
        p this was updated in the Master branch
        p this was then updated in the Testing branch
        p then updated to trigger Cirecle CI and then Docker Hub (fingers crossed)
        p Hopefully, with the right environment variable, it will work this time
        p Click the button below to head over to my podcast...
        p 
          a.btn.btn-primary(href="http://intechwetrustpodcast.com") Podcast
        p
